@page "/"
@inherits ABasePage
@implements IBasePage

@using ZwiepsHaakHoek.Models.Contentful
@using System.Linq

<PageTitle>Zieps Haak Hoek - @Interpreter["Home"]</PageTitle>

@if(IndexData is not null)
{
    <Carousel 
        Images="() => IndexData.Images"
        MaxPixelHeight="500" Interval="5000"
    />

    <div class="intro">
        @((MarkupString)IndexData.IntroMarkup)
    </div>

    if(IndexData.LatestProduct is not null)
    {
        <div class="latest-product-container">
            <div class="latest-product">
                <Polaroid Image="() => IndexData.LatestProduct.Images[0]">
                    <Footer>
                        <h6>@IndexData.LatestProduct.Title</h6>

                        @((MarkupString)Interpreter["Price", IndexData.LatestProduct.Price.ToString()])
                        <br/>
                        <br/>
                        @IndexData.LatestProduct.Description
                    </Footer>
                </Polaroid>
            </div>
        </div>
    }
}
else
{
    <LoadingPageMessage PageName="@Interpreter["Home"]"/>
}