@page "/"
@inherits ABasePage
@implements IBasePage

@using ZwiepsHaakHoek.Models.Contentful
@using System.Linq

<PageTitle>Zieps Haak Hoek - @Interpreter["Home"]</PageTitle>

@if(CFIndex is not null)
{
    <Carousel 
        Images="() => CFIndex.Images.Select<Asset, Image>(x => new Image{ Url = x.File.Url, Alt = x.Description }).ToArray()"
        MaxPixelHeight="500" Interval="5000"
    />

    <div class="intro">
        @((MarkupString)IntroHTML)
    </div>

    if(CFIndex.LatestProduct is not null)
    {
        <div class="latest-product-container">
            <div class="latest-product">
                <Polaroid Image="() => new Image{ Url = CFIndex.LatestProduct.Images[0].File.Url, Alt = CFIndex.LatestProduct.Images[0].Description }">
                    <Footer>
                        <h6>@CFIndex.LatestProduct.Title</h6>

                        @((MarkupString)Interpreter["Price", CFIndex.LatestProduct.Price.ToString()])
                        <br/>
                        <br/>
                        @CFIndex.LatestProduct.Description
                    </Footer>
                </Polaroid>
            </div>
        </div>
    }
}
else
{
    <LoadingPageMessage PageName="@Interpreter["Home"]"/>
}